[submodule "libs/test-lib"]
	path = libs/test-lib
	url = https://github.com/jowillianto/test-lib
[submodule "libs/moderna-generic"]
	path = libs/moderna-generic
	url = https://github.com/jowillianto/moderna-generic
