[submodule "libs/test-lib"]
	path = libs/test-lib
	url = https://github.com/jowillianto/jowi-test-lib
[submodule "libs/moderna-generic"]
	path = libs/jowi-generic
	url = https://github.com/jowillianto/jowi-generic
[submodule "moderna-io"]
	path = libs/moderna-io
	url = github.com:jowillianto/moderna-io
